.Rproj.user
.Rhistory
.RData
.Ruserdata
df.Rdata
.Rdata
.csv
tot_df.Rdata
tot_df_db.csv
dat
Overview.csv
connect_postgres.Rmd
Overview.CSV
connect_postgres.nb.html
sp500_df.Rdata
sp500_data.csv
All_stocks_us_raw.Rdata
